.sidebar-header {
    height: 80px;
}
.sidebar-header button {
    width: 40px;
    font-size: 24px;
    margin-left: 25px;
}

nav {
    height: 100vh;
    width: 250px;
    background-color: #00cec9;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    padding: 15px 25px;
    cursor: pointer;
}

nav li:hover {
    background-color: #81ecec;
    color: #636e72;
}

nav a {
    text-decoration: none;
    color: #dfe6e9;
}

.active-button {
    display: block;
    background-color: #81ecec;
    color: #636e72;
    border-bottom: 1px solid red;
}
